{% extends 'base.html' %}
{% load static %}

{% block title %}
Scumptius Recipes
{% endblock title %}

{% block content %}
        <header>
            <nav>
                <a id= "main" href="{% url 'recipe_list' %}" >Main</a>
            </nav>
        </header>
        <main>
            <h1>Edit {{post_object.title}}</h1>
            <form method="post">
                {% csrf_token %}
                {{ post_form.as_p }}
                <button>Save</button>
            </form>
        </main>
        <footer>Made with love by Scrumptious Recipes</footer>
{% endblock content %}
